#results {
    background-color: rgb(90, 126, 168);
    display: none;
    float: clear;
    
        
}

body {
    background-image: url(../images/saiyans1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

p {
    font-size: 30px;

}

#countDown {
    position: absolute;
    float: right;
    margin-left: 65%;
    text-align: center;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    font-size: 200px;   
    
}

